* {
	font-family:Helvetica,sans-serif;
	margin:0;
	padding:0;
	/*background-color:#ffffcc;*/
}

body {
	max-width:800px;
	margin:0 auto;
	width:100%;
}

a {
	color:black;
}

a:visited {
	color:#232323;
}

a:hover {
	color:#009933;
}

header {
	background-image:url(image.JPG);
	min-height:400px;
	background-size:cover;
}

p {
	margin-top:1rem;
	margin-bottom:1rem;
}

button {
	width:calc(20% - 10px);
	height:40px;
	margin:5px;
	display:inline-block;
	background:#ccc;
	cursor:pointer;
}

button i {
	font-size: 1.3rem;
    vertical-align: middle !important;
}

h1 {
	font-family:"Graduate",sans-serif;
	text-transform:uppercase;
	font-weight:900;
	font-size:3rem;
	margin: 0 auto;
    text-align: center;
    display: block;
    color:white;
}

#buttons {
	margin-bottom:10px;
}

.team, .park {
	margin: 0 auto;
    text-align: center;
    display: block;
}

.team {
	font-size:0.8rem;
	text-transform:uppercase;
	font-weight:200;
}

.park {
	font-size:2.2rem;
	font-weight:bold;
	font-family:"Graduate",sans-serif;
	text-transform:uppercase;
	margin-bottom:15px;
}

.breweries .result {
	display:inline-block;
	width:calc(30% - 10px);
	margin-bottom:15px;
	margin-right:10px;
	vertical-align: top;
}

.result span {
	font-size:0.8rem;
}

.breweries span {
	display:block;
}

#output {
	margin:25px 0;
	background-color:#fff !important;
	/*border:1px black solid;*/
}

#footer {
	width:100%;
	background-color:darkgrey;
	margin:0 auto;
	font-size:0.5rem;
}

#footer p {
	margin-bottom:0;
	margin-top:0;
}

@media (max-width: 600px) { 
	header {
	background-image:url(image.JPG);
	height:120px;
	min-height:inherit;
	background-size:cover;
}

h1 {
	font-size:1.5rem;
}

.buttonteamname {
	display:none;
}
}